/* Fonts & font weights */
.nyt-chelt {
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
}

.ariel {
  font-family: Arial, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}

.tnr {
  font-family: 'Times New Roman', serif;
}

.hlv {
  font-family: helvetica, arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.caption {
  font-style: oblique;
  font-weight: 100;
}

.smlink {
  font-size: 11px;
  color: rgb(102, 102, 102);
}

/* video */
.frame {
  width: 600px;
  height: 319px;
}

/* colors */

.blue {
  background-color: rgb(50, 104, 145);
}

.white {
  background-color: #fff;
}

.tblue {
  color: rgb(50, 104, 145);
}

.tblack {
  color: black;
}

/* flexbox */

.flex {
  display: flex;
}

.cflex {
  display: flex;
  flex-flow: column wrap;
}

.jcenter {
  justify-content: center;
}

.jbetween {
  justify-content: space-between;
}

.jaround {
  justify-content: space-between;
}

.jleft {
  justify-content: left;
}

.acenter {
  align-items: center;
}

.abaseline {
  align-items: baseline;
}

.aflexstart {
  align-items: flex-start;
}

body > header {
  margin-bottom: 100px;
}

/* float & clear */
.cboth {
  clear: both;
}

/* main elements */
main {
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: block;
}

.title {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

#titleimg {
  width: 70%;
  margin: auto;
}

#titleimg > img {
  width: 100%;
}

#container {
  width: 75%;
}

#title {
  padding: 20px;
  border-bottom-style: solid;
  border-width: thin;
}

.socials {
  align-content: flex-start;
}

p {
  max-width: 600px;
  font-size: 20px;
}

.article {
  align-self: flex-end;
  flex: 1;
}

#thanks {
  text-align: center;
  position: relative;
  margin: auto;
  left: 20%;
  width: 25%;
  z-index: -1;
}

.border {
  align-self: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  width: 25%;
  border-color: #ddded9;
}

.grid {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 10px 10px;
}

.grid > p {
  margin-top: 170px;
  font-size: 14px;
}

/* navbars & links */
.navbar {
  border-bottom-style: solid;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}

#sidebar {
  float: right;
  position: relative;
  right: 0;
  top: 520px;
  width: 20%;
  z-index: -1;
}

#blinks {
  margin-bottom: 50px;
}

.bnavbar {
  border-top-style: solid;
  border-top-width: thin;
  padding: 10px 10px 10px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 196px;
}

.nav_link {
  text-decoration: none;
}

a.nav_hover:hover {
  text-decoration: underline;
}

.nav_btn {
  color: #fff;
  padding: 5px;
  margin: 1px;
  border-radius: 3px;
}

nav > ul {
  list-style-type: none;
}

.space > li {
  padding-bottom: 7px;
}

/* buttons */
.nborder {
  border: none;
}

#comments {
  color: #fff;
  text-align: center;
  padding: 10px 100px;
  margin: 1px;
  border-radius: 3px;
}

/* footer */
.foot_header {
  margin: 10px;
  border-top-style: double;
  border-top-color: #ddded9;
  padding: 5px;
}

#last {
  border-left-style: solid;
  border-left-color: #ddded9;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
}

#nav_container {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #ddded9;
}
