/* Fonts & font weights */
.nyt-chelt {
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
}

.ariel {
  font-family: Arial, sans-serif;
}

.hlv {
  font-family: helvetica, arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.caption {
  font-style: oblique;
  font-weight: 100;
}
/* video */
.frame {
  border: none;
  width: 600px;
  height: 319px;
}

/* flexbox */

.flex {
  display: flex;
}

.cflex {
  display: flex;
  flex-flow: column wrap;
}

.jcenter {
  justify-content: center;
}

.jbetween {
  justify-content: space-between;
}

.jaround {
  justify-content: space-between;
}

.jleft {
  justify-content: left;
}

acenter {
  align-items: center;
}

abaseline {
  align-items: baseline;
}

aflexstart {
  align-items: flex-start;
}
body > header {
  margin-bottom: 100px;
}





/* main elements */
main{
  width: 100%;
  box-sizing: border-box;

  
}

.block{
  display: block;
}

.title{
  width:50%;
  margin: auto;
  margin-bottom: 10px;
}

#titleimg {
  width: 70%;
  margin: auto;
}

#titleimg > img {
  width: 100%;
}

#container {
  width: 75%;
}

#title {
  padding: 20px;
  border-bottom-style: solid;
  border-width: thin;
}

.socials {
  align-content: flex-start;
}

p {
  max-width: 600px;
}

.article {
  align-self: flex-end;
  flex: 1 ;
}




.sidebar {
  float: right;
  position:relative;
  right: 0;
  top:520px;
  width: 20%;
  z-index: -1;
}

.grid {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-720.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 10px 10px;
}

.grid > p {
  margin-top: 150px;
}

/* navbar */
.navbar {
  background-color: #fff;
  border-bottom-style: solid;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}



.logo {
  width: 196px;
}

.nav_link {
  text-decoration: none;
  color: black;
}

a.nav_hover:hover {
  text-decoration: underline;
}

.nav_btn {
  background-color: #042f64;
  color: #fff;
  padding: 5px;
  margin: 1px;
  border: none;
  border-radius: 3px;
}

.btn_icon {
  background-color: #fff;
  border: none;
}

/* footer */
.foot_header {
  clear:both;
  margin: 10px;
  border-top-style: double;
  border-top-color: #ddded9;
  padding: 5px;
}

#nav_container {
  clear:both;
}

#last {
  border-left-style: solid;
  border-left-color: #ddded9;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
}

nav > ul {
  list-style-type: none;
}
